# Database
DATABASE_URL="postgresql://username:password@localhost:5432/familytree"

# Cloudinary (Option 1 - Recommended for quick setup)
CLOUDINARY_CLOUD_NAME=family
CLOUDINARY_API_KEY=488272722631893
CLOUDINARY_API_SECRET=Z1eYVWuZWXgOZBiREIidqcd4oZ4
CLOUDINARY_UPLOAD_PRESET=Unsigned

# AWS S3 (Option 2 - Production recommended)
AWS_ACCESS_KEY_ID="your_access_key"
AWS_SECRET_ACCESS_KEY="your_secret_key"
AWS_REGION="us-east-1"
S3_BUCKET_NAME="your-bucket-name"

# App Configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"
IMAGE_STORAGE_PROVIDER="cloudinary" # or "s3"